/.phpunit.cache
/faazancien/.phpunit.cache
/faazancien/.phpunit.result.cache
node_modules
/faazancien/node_modules
frontend/node_modules
/faazancien/public/build
/faazancien/public/hot
/faazancien/public/storage
/faazancien/storage/*.key
/faazancien/storage/logs/*
/faazancien/storage/framework/*
/faazancien/bootstrap/cache/*
/faazancien/vendor
/vendor
.env
.env.backup
.env.production
.env.*
/faazancien/.env
/faazancien/.env.*
frontend/.env
frontend/.env.*
frontend/dist
/faazancien/database/database.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.DS_Store
/.fleet
/.idea
/.vscode
/faazancien/

